@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

* {
  font-family: 'Lora', serif;
  margin-bottom: 20px;
  margin-top: 0px;
}

body {
  padding: 5vh 12vw;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><rect width="20" height="20" fill="black"/></svg>') 8 8, auto;
}

h1 {
  color: blue;
  text-decoration: underline;
  font-size: 9vh;
}

h1.animate, h2.animate, h3.animate, h4.animate, p.animate, .highlight.animate {
  opacity: 1;
  transform: translate(0, 0);
}

.highlight.mobile-animation {
  animation: reveal-highlight 2s cubic-bezier(0.01, 0, 0.175, 1);
}

p.mobile-animation {
  animation: reveal 1.5s cubic-bezier(0.01, 0, 0.175, 1);
}

h1.mobile-animation {
  animation: reveal 1s cubic-bezier(0.01, 0, 0.175, 1);
}

h1, h2, h3, h4, p, .highlight {
  transition: opacity 1.5s cubic-bezier(0.01, 0, 0.175, 1), transform 1.5s cubic-bezier(0.01, 0, 0.175, 1);
  transform: translate(0%, 100%);
  opacity: 0;
}

h2 {
  color: blue;
  text-decoration: underline;
  font-size: 8vh;
}

h3 {
  color: blue;
  font-size: 5vh;
}

h4 {
  color: black;
  font-size: 5vh;
  font-style: italic;
}

p {
  font-size: 4vh;
}

.highlight {
  display: inline-block;
  padding: 0.05vh 1vw;
  background: blue;
  color: white;
  margin: 2px;
}

a.link, a:link.link, a:active.link, a:hover.link {
  text-decoration: underline;
  color: black;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"><circle cx="10" cy="10" r="9" stroke="blue" stroke-width="2" fill="blue"/></svg>') 8 8, pointer;
}

.email {
  color: red;
}

div.section {
  margin: 10em auto;
}

.subsection p, .contact p {
  font-size: 3vh;
}

p.section {
  margin: 1em auto;
}

.subsection {
  margin: 6em auto;
}

@keyframes reveal-highlight {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(0,0);
  }
}

@keyframes reveal {
  0% {
    transform: translate(0%,100%);
  }
  100% {
    transform: translate(0,0);
  }
}